* {
    margin:0;
    padding:0;

    font-family: 'Overpass', sans-serif;

}

body {
    border: 1px solid black;
    
    
}
main {
    border: 1px solid black;
    height:100vh;
    display:flex;
    justify-content: center;
    align-items: center;
    background: hsl(216, 12%, 8%);
}
.card {
    max-width:410px;
    height:50vh;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:space-evenly;
    background-color: hsl(214, 23%, 12%);
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    color:white;
    background-color: hsl(213, 19%, 13%);
    
    
    
}

.hide {
    visibility: hidden;
}
/*Card Section End*/

.star {
    margin-left:37.5px;
    padding:15px;
    border-radius: 100px;
    background-color: hsl(213, 19%, 20%) ;

}
.title {
    font-weight:400;
    font-size:30px;
    margin-left:35px;
    

}
.para {
    color:hsl(217, 12%, 63%);
    margin-left: 37.5px;
    margin-right:42.5px;
    font-size:15px;
    line-height: 1.5;
}

.numbers {
    display:flex;
    gap:20px;
    
    
    

}

.one {
    margin-left:32px;
}
.one,
.two,
.three,
.four,
.five {
    
    padding:15px;
    height:20px;
    width:20px;
    border-radius: 100%;
    text-align: center;
    align-self:center;
    background-color: hsl(213, 19%, 20%) ;
    
}

.button {
    display:flex;
    
    align-self: center;
    padding:20px;
    width:300px;
    height:7.5px;
    border-radius: 35px;
    text-align:center;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    background: hsl(25, 97%, 53%);
    
}
.button:hover {
    color:hsl(25, 97%, 53%);
    background-color: white;
    cursor:pointer;
}
.one:hover,
.two:hover,
.three:hover,
.four:hover,
.five:hover {
    background-color: hsl(25, 97%, 53%);
    cursor: pointer;
}

/*Popup*/

.popup {
    max-width:410px;
    height:50vh;
    border-radius: 20px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px;
    color:white;
    background-color: hsl(213, 19%, 13%);
    position: absolute;
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:25px;
    top:0;

    left:35%;
    transform:scale(0.1);
    visibility: hidden;
    transition:transform 0.4s, top 0.4s;
}

.clicked {
    background-color: hsl(217, 12%, 63%);
    
}


.open-popup {
    top:25%;
    visibility: visible;
    transform:scale(1);
}


.message {
    padding:10px;
    margin:0;
    width:200px;
    height:10px;
    border-radius:25px;
    display:flex;
    justify-content: center;
    align-items: center;
    background-color: hsl(213, 19%, 20%);
    color:hsl(25, 97%, 53%);
    
}

.thanks {
    font-size: 30px;
}

.popup-para {
    color:hsl(217, 12%, 63%);
    margin-left:35px;
    margin-right: 35px;
    line-height:1.5;
    text-align:center;
}
