* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body {
    border: 1px solid black;
    height:100vh;
}
main {
    border: 1px solid black;
    height:100vh;
}
.card {
    border:1px solid red;
    max-width:400px;
    height:50vh;
    display:flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content:center;
}